<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leg Pal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <ul class="nav-bar">
            <li class="nav-item"><a class="nav-link" href="/">WA Leg Pal Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/list_of_committees">Committees</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Good morning comrade</h1>
        <p>This app was conceived to make it easier to connect with Washington State lawmakers and advocate for bills and policies to empower communities and bend the arc of history just a little closer to justice. It was built by one person and is a work in progress. More functionality to come!</p>
        <p>For now, please enjoy this <a href="/list_of_committees">List of Committees</a> and the ability to grab all the emails at once.</p>
    </div>
</body>
</html>